<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>F1 calendario</title>
    <link rel="shortcut icon" href="../img/logo-F1.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/index.css">
</head>

<body>
    <header>
        <!--hero de la pagina, tengo que modificar algunos detalles-->
        <section class="hero-imagen__calendario">
            <div">
                <h1>"Podemos ir al límite y a la vez disfrutarlo"</h1>
                <h2>Michael Schumacher</h2>
                </div>
        </section>
        <!--primera aproximacion a la barra de navegacion, hay modificaciones que hacer-->
        <section class="navegador">
            <a href="../Index.html"><img src="../img/logo f1 2.png" alt="logo-F1"></a>
            <div class="navegador__menu">
                <nav>
                    <ul>
                        <li>
                            <a href="../Index.html">Inicio</a>
                        </li>
                        <li>
                            <a href="campeonato.html">Campeonato</a>
                        </li>
                        <li>
                            <a href="calendario.html">Calendario</a>
                        </li>
                        <li>
                            <a href="pilotos.html">Pilotos</a>
                        </li>
                        <li>
                            <a href="historia.html">Historia</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </section>
    </header>

    <main>
        <section class="titulo-campeonato">
            <div class="titulo-campeonato__tex">
                <h2>Circuitos</h2>
                <p>GP que se disputaran esta temporada</p>
            </div>
        </section>
        <section class="container-card">
            <article class="card">
                <figure>
                    <img src="../img/circuitos/Formula1_Circuit_Catalunya_2021.svg.png" alt="gp catalunya">
                </figure>
                <div class="contenido-card">
                    <h3>Gran Premio de CATALUNYA</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur sed, at aliquam omnis illum
                        facere magni reiciendis voluptatum porro quas fugit? Illum necessitatibus praesentium iste! Nemo
                        exercitationem aspernatur corporis aliquid?</p>
                    <a href="#">+ mas</a>
                </div>
            </article>
            <article class="card">
                <figure>
                    <img src="../img/circuitos/1280px-Autódromo_José_Carlos_Pace_(AKA_Interlagos)_track_map.svg.png" alt="gp interlagos">
                </figure>
                <div class="contenido-card">
                    <h3>Gran Premio de INTERLAGOS</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur sed, at aliquam omnis illum
                        facere magni reiciendis voluptatum porro quas fugit? Illum necessitatibus praesentium iste! Nemo
                        exercitationem aspernatur corporis aliquid?</p>
                    <a href="#">+ mas</a>
                </div>
            </article>
            <article class="card">
                <figure>
                    <img src="../img/circuitos/1920px-Circuit_Gilles_Villeneuve.svg.png" alt="gp canada">
                </figure>
                <div class="contenido-card">
                    <h3>Gran Premio de CANADA</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur sed, at aliquam omnis illum
                        facere magni reiciendis voluptatum porro quas fugit? Illum necessitatibus praesentium iste! Nemo
                        exercitationem aspernatur corporis aliquid?</p>
                    <a href="#">+ mas</a>
                </div>
            </article>
        </section>
        <section class="container-card">
            <article class="card">
                <figure>
                    <img src="../img/circuitos/Austin_circuit.svg.png" alt="gp austin">
                </figure>
                <div class="contenido-card">
                    <h3>Gran Premio de AUSTIN</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur sed, at aliquam omnis illum
                        facere magni reiciendis voluptatum porro quas fugit? Illum necessitatibus praesentium iste! Nemo
                        exercitationem aspernatur corporis aliquid?</p>
                    <a href="#">+ mas</a>
                </div>
            </article>
            <article class="card">
                <figure>
                    <img src="../img/circuitos/Autódromo_Hermanos_Rodríguez_2015.svg.png" alt="gp mexico">
                </figure>
                <div class="contenido-card">
                    <h3>Gran Premio de MEXICO</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur sed, at aliquam omnis illum
                        facere magni reiciendis voluptatum porro quas fugit? Illum necessitatibus praesentium iste! Nemo
                        exercitationem aspernatur corporis aliquid?</p>
                    <a href="#">+ mas</a>
                </div>
            </article>
            <article class="card">
                <figure>
                    <img src="../img/circuitos/Circuit_Paul_Ricard_2020_layout_map.svg.png" alt="gp francia">
                </figure>
                <div class="contenido-card">
                    <h3>Gran Premio de FRANCIA</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur sed, at aliquam omnis illum
                        facere magni reiciendis voluptatum porro quas fugit? Illum necessitatibus praesentium iste! Nemo
                        exercitationem aspernatur corporis aliquid?</p>
                    <a href="#">+ mas</a>
                </div>
            </article>
        </section>
        <section class="container-card">
            <article class="card">
                <figure>
                    <img src="../img/circuitos/Circuit_Silverstone_2011.svg.png" alt="gp inglaterra">
                </figure>
                <div class="contenido-card">
                    <h3>Gran Premio de Silverstone</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur sed, at aliquam omnis illum
                        facere magni reiciendis voluptatum porro quas fugit? Illum necessitatibus praesentium iste! Nemo
                        exercitationem aspernatur corporis aliquid?</p>
                    <a href="#">+ mas</a>
                </div>
            </article>
            <article class="card">
                <figure>
                    <img src="../img/circuitos/Monte_Carlo_Formula_1_track_map.svg.png" alt="gp monaco">
                </figure>
                <div class="contenido-card">
                    <h3>Gran Premio de MONACO</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur sed, at aliquam omnis illum
                        facere magni reiciendis voluptatum porro quas fugit? Illum necessitatibus praesentium iste! Nemo
                        exercitationem aspernatur corporis aliquid?</p>
                    <a href="#">+ mas</a>
                </div>
            </article>
            <article class="card">
                <figure>
                    <img src="../img/circuitos/Monza_track_map.svg.png" alt="gp italia">
                </figure>
                <div class="contenido-card">
                    <h3>Gran Premio de MONZA</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur sed, at aliquam omnis illum
                        facere magni reiciendis voluptatum porro quas fugit? Illum necessitatibus praesentium iste! Nemo
                        exercitationem aspernatur corporis aliquid?</p>
                    <a href="#">+ mas</a>
                </div>
            </article>
        </section>
        <section class="container-card">
            <article class="card">
                <figure>
                    <img src="../img/circuitos/Spa-Francorchamps_of_Belgium.svg.png" alt="gp belica">
                </figure>
                <div class="contenido-card">
                    <h3>Gran Premio de SPA</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur sed, at aliquam omnis illum
                        facere magni reiciendis voluptatum porro quas fugit? Illum necessitatibus praesentium iste! Nemo
                        exercitationem aspernatur corporis aliquid?</p>
                    <a href="#">+ mas</a>
                </div>
            </article>
            <article class="card">
                <figure>
                    <img src="../img/circuitos/Suzuka_circuit_map--2005.svg.png" alt="gp japon">
                </figure>
                <div class="contenido-card">
                    <h3>Gran Premio de SUZUKA</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur sed, at aliquam omnis illum
                        facere magni reiciendis voluptatum porro quas fugit? Illum necessitatibus praesentium iste! Nemo
                        exercitationem aspernatur corporis aliquid?</p>
                    <a href="#">+ mas</a>
                </div>
            </article>
        </section>
    </main>

    <!--segunda aproximacion al footer de la web, hay modificaciones que hacer! -->
    <footer>
        <section class="footer">

            <article class="footer__items">
                <div class="footer__items-h3">
                    <h3>REDES</h3>
                </div>
                <div>
                    <a href="https://www.instagram.com/f1/"><img src="../img/img logos footer/instagram.png"
                            alt="instagram"></a>
                </div>
                <div>
                    <a href="https://www.facebook.com/Formula1"><img src="../img/img logos footer/facebook.png"
                            alt="logo facebook"></a>
                </div>
                <div>
                    <a href="https://twitter.com/F1"><img src="../img/img logos footer/twitter.png"
                            alt="logo twitter"></a>
                </div>
                <div>
                    <a href="https://www.youtube.com/@Formula1"><img src="../img/img logos footer/youtube.png"
                            alt="logo youtube"></a>
                </div>
            </article>

            <article class="footer__items">
                <div class="footer__items-h3">
                    <h3>INICIO</h3>
                </div>
                <div>
                    <a href="./Index.html"><img src="../img/img logos footer/logo-F1.png" alt="logo-F1"></a>
                </div>
            </article>

            <article class="footer__items">
                <div class="footer__items-h3">
                    <h3>SPONSOR</h3>
                </div>
                <div>
                    <a href="https://www.petronas.com/"><img src="../img/img logos footer/petronas.png"
                            alt="logo petronas"></a>
                </div>
                <div>
                    <a href="https://www.dhl.com/ar-es/home.html?locale=true"><img src="../img/img logos footer/dhl.png"
                            alt="logo dhl"></a>
                </div>
                <div>
                    <a href="https://www.rolex.com/es"><img src="../img/img logos footer/rolex.png"
                            alt="logo rolex"></a>
                </div>
                <div>
                    <a href="https://www.pirelli.com/tyres/es-es/coche/home"><img
                            src="../img/img logos footer/pirelli.png" alt="logo pirelli"></a>
                </div>
                <div>
                    <a href="https://www.shell.com/"><img src="../img/img logos footer/shell.png" alt="logo shell"></a>
                </div>
                <div>
                    <a href="https://www.emirates.com/ar/spanish/"><img src="../img/img logos footer/emirates.png"
                            alt="logo emirates"></a>
                </div>
            </article>
        </section>
    </footer>
</body>

</html>