<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>F1 campeonato</title>
    <link rel="shortcut icon" href="../img/logo-F1.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/index.css">
</head>

<body>
    <header>
        <!--hero de la pagina, tengo que modificar algunos detalles-->
        <section class="hero-imagen__campeonato">
            <div class="hero-text__campeonato">
                <h1>“Del éxito no aprendes nada. De los errores, sí”</h1>
                <h2>Niki Lauda</h2>
            </div>
        </section>
        <!--primera aproximacion a la barra de navegacion, hay modificaciones que hacer-->
        <section class="navegador">
            <a href="../Index.html"><img src="../img/logo f1 2.png" alt="logo-F1"></a>
            <div class="navegador__menu">
                <nav>
                    <ul>
                        <li>
                            <a href="../Index.html">Inicio</a>
                        </li>
                        <li>
                            <a href="campeonato.html">Campeonato</a>
                        </li>
                        <li>
                            <a href="calendario.html">Calendario</a>
                        </li>
                        <li>
                            <a href="pilotos.html">Pilotos</a>
                        </li>
                        <li>
                            <a href="historia.html">Historia</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </section>
    </header>

    <main>
        <!--ver donde se puede poner !-->
        <section>
            <div class="spinner"></div>
        </section>
        <!--Todavia en desarrollo-->
        <section class="contenedor">
            <article>
                <div>
                    <table>
                        <tr>
                            <th>Pos.</th>
                            <th>Escuderia</th>
                            <th>Piloto</th>
                            <th>España</th>
                            <th>Monaco</th>
                            <th>Canada</th>
                            <th>Gran Bretaña</th>
                            <th>Francia</th>
                            <th>Belgica</th>
                            <th>Italia</th>
                            <th>Japon</th>
                            <th>USA</th>
                            <th>Mexico</th>
                            <th>Brasil</th>
                            <th>Puntos</th>
                        </tr>
                        <tr>
                            <th>1</th>
                            <th>Red-Bull</th>
                            <th>Max Verstappen</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>Puntos</th>
                        </tr>
                        <tr>
                            <th>2</th>
                            <th>Ferrari</th>
                            <th>Carles Leclerc</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>Puntos</th>
                        </tr>
                        <tr>
                            <th>3</th>
                            <th>Red-Bull</th>
                            <th>Checo Perez</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>Puntos</th>
                        </tr>
                        <tr>
                            <th>4</th>
                            <th>Ferrari</th>
                            <th>Carlos Sainz</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>Puntos</th>
                        </tr>
                        <tr>
                            <th>5</th>
                            <th>Alpine-Renault</th>
                            <th>Fernando Alonso</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>Puntos</th>
                        </tr>
                        <tr>
                            <th>6</th>
                            <th>Mercedes</th>
                            <th>Lewis Hamilton</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>Puntos</th>
                        </tr>
                        <tr>
                            <th>7</th>
                            <th>Aston Martin</th>
                            <th>Sebastian Vettel</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>Puntos</th>
                        </tr>
                        <tr>
                            <th>8</th>
                            <th>Alfa Romeo</th>
                            <th>Valteri Bottas</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>Puntos</th>
                        </tr>

                        <tr>
                            <th>9</th>
                            <th>McLaren</th>
                            <th>Daniel Ricciardo</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>Puntos</th>
                        </tr>
                        <tr>
                            <th>10</th>
                            <th>Mercedes</th>
                            <th>George Russell</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>Puntos</th>
                        </tr>
                        <tr>
                            <th>11</th>
                            <th>McLaren</th>
                            <th>Lando Norris</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>Puntos</th>
                        </tr>
                        <tr>
                            <th>12</th>
                            <th>Alpine-Renault</th>
                            <th>Esteban Ocon</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>Puntos</th>
                        </tr>
                        <tr>
                            <th>13</th>
                            <th>Haas-Ferrari</th>
                            <th>Kevin Magnussen</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>Puntos</th>
                        </tr>
                        <tr>
                            <th>14</th>
                            <th>Alpha Tauri</th>
                            <th>Pierre Gasly</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>Puntos</th>
                        </tr>
                        <tr>
                            <th>15</th>
                            <th>Aston Martin</th>
                            <th>Lance Stroll</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>Puntos</th>
                        </tr>
                        <tr>
                            <th>16</th>
                            <th>Haas-Ferrari</th>
                            <th>Mick Schumacher</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>Puntos</th>
                        </tr>
                        <tr>
                            <th>17</th>
                            <th>Alpha Tauri</th>
                            <th>Yuki Tsunoda</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>Puntos</th>
                        </tr>
                        <tr>
                            <th>18</th>
                            <th>Alfa Romeo</th>
                            <th>Guanyu Zhou</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>Puntos</th>
                        </tr>
                        <tr>
                            <th>19</th>
                            <th>Williams</th>
                            <th>Alexander Albon</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>Puntos</th>
                        </tr>
                        <tr>
                            <th>20</th>
                            <th>Williams</th>
                            <th>Nicholas Latifi</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>Puntos</th>
                        </tr>
                    </table>
                </div>
            </article>


            <!--INICIO Tabla de esacuderias -->
            <article>
                <div>
                    <table>
                        <tr>
                            <th>Pos.</th>
                            <th>Escuderia</th>
                            <th>España</th>
                            <th>Monaco</th>
                            <th>Canada</th>
                            <th>Gran Bretaña</th>
                            <th>Francia</th>
                            <th>Belgica</th>
                            <th>Italia</th>
                            <th>Japon</th>
                            <th>USA</th>
                            <th>Mexico</th>
                            <th>Brasil</th>
                            <th>TOTAL</th>
                        </tr>
                        <tr>
                            <th>Pos.</th>
                            <th>Escuderia</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>TOTAL</th>
                        </tr>
                        <tr>
                            <th>Pos.</th>
                            <th>Escuderia</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>TOTAL</th>
                        </tr>
                        <tr>
                            <th>Pos.</th>
                            <th>Escuderia</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>TOTAL</th>
                        </tr>
                        <tr>
                            <th>Pos.</th>
                            <th>Escuderia</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>TOTAL</th>
                        </tr>
                        <tr>
                            <th>Pos.</th>
                            <th>Escuderia</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>TOTAL</th>
                        </tr>
                        <tr>
                            <th>Pos.</th>
                            <th>Escuderia</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>TOTAL</th>
                        </tr>
                        <tr>
                            <th>Pos.</th>
                            <th>Escuderia</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>TOTAL</th>
                        </tr>
                        <tr>
                            <th>Pos.</th>
                            <th>Escuderia</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>TOTAL</th>
                        </tr>
                        <tr>
                            <th>Pos.</th>
                            <th>Escuderia</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>TOTAL</th>
                        </tr>
                        <tr>
                            <th>Pos.</th>
                            <th>Escuderia</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>TOTAL</th>
                        </tr>
                    </table>
                </div>
            </article>


            <!--INICIO Tabla de pilotos mas ganadores-->
            <article>
                <div>
                    <table>
                        <tr>
                            <th>Piloto</th>
                            <th>Titulos</th>
                            <th>Año</th>
                        </tr>
                        <tr>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                        </tr>
                        <tr>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                        </tr>
                        <tr>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                        </tr>
                        <tr>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                        </tr>
                        <tr>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                        </tr>
                        <tr>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                        </tr>
                        <tr>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                        </tr>
                        <tr>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                        </tr>
                        <tr>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                        </tr>
                        <tr>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                        </tr>
                        <tr>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                        </tr>
                        <tr>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                        </tr>
                        <tr>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                        </tr>
                        <tr>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                        </tr>
                        <tr>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                        </tr>
                        <tr>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                        </tr>
                        <tr>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                        </tr>
                    </table>
                </div>
            </article>











            <!--INICIO tabla de escuderias mas ganadoras -->
            <article>
                <div>
                    <table>
                        <tr>
                            <th>Pos</th>
                            <th>Escuderia</th>
                            <th>Titulos</th>
                            <th>Año</th>
                        </tr>
                        <tr>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                        </tr>
                        <tr>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                        </tr>
                        <tr>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                        </tr>
                        <tr>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                        </tr>
                        <tr>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                        </tr>
                        <tr>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                        </tr>
                        <tr>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                        </tr>
                        <tr>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                        </tr>
                        <tr>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                        </tr>
                        <tr>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                        </tr>
                        <tr>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                        </tr>
                        <tr>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                        </tr>
                        <tr>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                        </tr>
                        <tr>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                        </tr>
                        <tr>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                            <th>X</th>
                        </tr>
                    </table>
                </div>
            </article>
        </section>
    </main>

    <!--segunda aproximacion al footer de la web, hay modificaciones que hacer! -->
    <footer>
        <section class="footer">

            <article class="footer__items">
                <div class="footer__items-h3">
                    <h3>REDES</h3>
                </div>
                <div>
                    <a href="https://www.instagram.com/f1/"><img src="../img/img logos footer/instagram.png"
                            alt="instagram"></a>
                </div>
                <div>
                    <a href="https://www.facebook.com/Formula1"><img src="../img/img logos footer/facebook.png"
                            alt="logo facebook"></a>
                </div>
                <div>
                    <a href="https://twitter.com/F1"><img src="../img/img logos footer/twitter.png"
                            alt="logo twitter"></a>
                </div>
                <div>
                    <a href="https://www.youtube.com/@Formula1"><img src="../img/img logos footer/youtube.png"
                            alt="logo youtube"></a>
                </div>
            </article>

            <article class="footer__items">
                <div class="footer__items-h3">
                    <h3>INICIO</h3>
                </div>
                <div>
                    <a href="./Index.html"><img src="../img/img logos footer/logo-F1.png" alt="logo-F1"></a>
                </div>
            </article>

            <article class="footer__items">
                <div class="footer__items-h3">
                    <h3>SPONSOR</h3>
                </div>
                <div>
                    <a href="https://www.petronas.com/"><img src="../img/img logos footer/petronas.png"
                            alt="logo petronas"></a>
                </div>
                <div>
                    <a href="https://www.dhl.com/ar-es/home.html?locale=true"><img src="../img/img logos footer/dhl.png"
                            alt="logo dhl"></a>
                </div>
                <div>
                    <a href="https://www.rolex.com/es"><img src="../img/img logos footer/rolex.png"
                            alt="logo rolex"></a>
                </div>
                <div>
                    <a href="https://www.pirelli.com/tyres/es-es/coche/home"><img
                            src="../img/img logos footer/pirelli.png" alt="logo pirelli"></a>
                </div>
                <div>
                    <a href="https://www.shell.com/"><img src="../img/img logos footer/shell.png" alt="logo shell"></a>
                </div>
                <div>
                    <a href="https://www.emirates.com/ar/spanish/"><img src="../img/img logos footer/emirates.png"
                            alt="logo emirates"></a>
                </div>
            </article>
        </section>
    </footer>
</body>

</html>