<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>F1 pilotos</title>
    <link rel="shortcut icon" href="../img/logo-F1.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <!--hero de la pagina, tengo que modificar algunos detalles-->
        <section class="hero-imagen__pilotos">
            <div class="hero-text__pilotos">
                <h1>"Podemos ir al límite y a la vez disfrutarlo"</h1>
                <h2>Michael Schumacher</h2>
            </div>
        </section>
        <!--primera aproximacion a la barra de navegacion, hay modificaciones que hacer-->
        <section class="navegador">
            <a href="../Index.html"><img src="../img/logo f1 2.png" alt="logo-F1"></a>
            <div class="navegador__menu">
                <nav>
                    <ul>
                        <li>
                            <a href="../Index.html">Inicio</a>
                        </li>
                        <li>
                            <a href="campeonato.html">Campeonato</a>
                        </li>
                        <li>
                            <a href="calendario.html">Calendario</a>
                        </li>
                        <li>
                            <a href="pilotos.html">Pilotos</a>
                        </li>
                        <li>
                            <a href="historia.html">Historia</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </section>
    </header>

    <main>
        <section class="pilotos__grid">
            <article>
                <div class="nombre__equipos">
                    <h2>EQUIPO</h2>
                    <p>Mercedes-AMG Petronas Motorsport</p>
                    <img src="../img/escuderias/mercedes-f1-logo-1.jpg" alt="">
                </div>
            </article>
            <article class="pilotos__contenedor">
                <div class="pilotos__contenedor-2022">
                    <h3>Lewis Hamilton</h3>
                    <img src="../img/pilotos/lewis-hamilton-mercedes-1.jpg" alt="">
                    <p>Edad: x</p>
                    <p>Año de debut: x</p>
                    <p>Victorias: x</p>
                    <p>Podios: x</p>
                    <p>Vueltas rapidas: x</p>
                    <p>Titulos: x</p>
                </div>
                <div class="pilotos__contenedor-2022">
                    <h3>George Russell</h3>
                    <img src="../img/pilotos/george-russell-mercedes-1.jpg" alt="">
                    <p>Edad: x</p>
                    <p>Año de debut: x</p>
                    <p>Victorias: x</p>
                    <p>Podios: x</p>
                    <p>Vueltas rapidas: x</p>
                    <p>Titulos: x</p>
                </div>
            </article>



            <article>
                <div class="nombre__equipos">
                    <h2>EQUIPO</h2>
                    <p>Red Bull Racing</p>
                    <img src="../img/escuderias/red-bull-racing-logo-1.jpg" alt="">
                </div>
            </article>
            <article class="pilotos__contenedor">
                <div class="pilotos__contenedor-2022">
                    <h3>Max Verstappen</h3>
                    <img src="../img/pilotos/max-verstappen-red-bull-racing-1.jpg" alt="">
                    <p>Edad: x</p>
                    <p>Año de debut: x</p>
                    <p>Victorias: x</p>
                    <p>Podios: x</p>
                    <p>Vueltas rapidas: x</p>
                    <p>Titulos: x</p>
                </div>
                <div class="pilotos__contenedor-2022">
                    <h3>Sergio Pérez</h3>
                    <img src="../img/pilotos/sergio-perez-red-bull-racing-1.jpg" alt="">
                    <p>Edad: x</p>
                    <p>Año de debut: x</p>
                    <p>Victorias: x</p>
                    <p>Podios: x</p>
                    <p>Vueltas rapidas: x</p>
                    <p>Titulos: x</p>
                </div>
            </article>



            <article>
                <div class="nombre__equipos">
                    <h2>EQUIPO</h2>
                    <p>Scuderia Ferrari</p>
                    <img src="../img/escuderias/ferrari-f1-logo.jpg" alt="">
                </div>
            </article>
            <article class="pilotos__contenedor">
                <div class="pilotos__contenedor-2022">
                    <h3>Charles Leclerc</h3>
                    <img src="../img/pilotos/charles-leclerc-ferrari-1.jpg" alt="">
                    <p>Edad: x</p>
                    <p>Año de debut: x</p>
                    <p>Victorias: x</p>
                    <p>Podios: x</p>
                    <p>Vueltas rapidas: x</p>
                    <p>Titulos: x</p>
                </div>
                <div class="pilotos__contenedor-2022">
                    <h3>Carlos Sainz Jr.</h3>
                    <img src="../img/pilotos/carlos-sainz-jr-ferrari-1.jpg" alt="">
                    <p>Edad: x</p>
                    <p>Año de debut: x</p>
                    <p>Victorias: x</p>
                    <p>Podios: x</p>
                    <p>Vueltas rapidas: x</p>
                    <p>Titulos: x</p>
                </div>
            </article>



            <article>
                <div class="nombre__equipos">
                    <h2>EQUIPO</h2>
                    <p>McLaren F1 Team</p>
                    <img src="../img/escuderias/mclaren-f1-team-logo-1.jpg" alt="">
                </div>
            </article>
            <article class="pilotos__contenedor">
                <div class="pilotos__contenedor-2022">
                    <h3>Lando Norris</h3>
                    <img src="../img/pilotos/lando-norris-mclaren-1.jpg" alt="">
                    <p>Edad: x</p>
                    <p>Año de debut: x</p>
                    <p>Victorias: x</p>
                    <p>Podios: x</p>
                    <p>Vueltas rapidas: x</p>
                    <p>Titulos: x</p>
                </div>
                <div class="pilotos__contenedor-2022">
                    <h3>Oscar Piastri</h3>
                    <img src="../img/pilotos/oscar-piastri-reserve-driver-a.jpg" alt="">
                    <p>Edad: x</p>
                    <p>Año de debut: x</p>
                    <p>Victorias: x</p>
                    <p>Podios: x</p>
                    <p>Vueltas rapidas: x</p>
                    <p>Titulos: x</p>
                </div>
            </article>



            <article>
                <div class="nombre__equipos">
                    <h2>EQUIPO</h2>
                    <p>Alpine F1 Team</p>
                    <img src="../img/escuderias/2022-BWT-Alpine-F1-Team.jpg" alt="">
                </div>
            </article>
            <article class="pilotos__contenedor">
                <div class="pilotos__contenedor-2022">
                    <h3>Pierre Gasly</h3>
                    <img src="../img/pilotos/pierre-gasly-alphatauri-1.jpg" alt="">
                    <p>Edad: x</p>
                    <p>Año de debut: x</p>
                    <p>Victorias: x</p>
                    <p>Podios: x</p>
                    <p>Vueltas rapidas: x</p>
                    <p>Titulos: x</p>
                </div>
                <div class="pilotos__contenedor-2022">
                    <h3>Esteban Ocon</h3>
                    <img src="../img/pilotos/esteban-ocon-alpine-1.jpg" alt="">
                    <p>Edad: x</p>
                    <p>Año de debut: x</p>
                    <p>Victorias: x</p>
                    <p>Podios: x</p>
                    <p>Vueltas rapidas: x</p>
                    <p>Titulos: x</p>
                </div>
            </article>



            <article>
                <div class="nombre__equipos">
                    <h2>EQUIPO</h2>
                    <p>Scuderia AlphaTauri</p>
                    <img src="../img/escuderias/Scuderia-AlphaTauri-logo-Google.png" alt="">
                </div>
            </article>
            <article class="pilotos__contenedor">
                <div class="pilotos__contenedor-2022">
                    <h3>Yuki Tsunoda</h3>
                    <img src="../img/pilotos/yuki-tsunoda-alphatauri-1.jpg" alt="">
                    <p>Edad: x</p>
                    <p>Año de debut: x</p>
                    <p>Victorias: x</p>
                    <p>Podios: x</p>
                    <p>Vueltas rapidas: x</p>
                    <p>Titulos: x</p>
                </div>
                <div class="pilotos__contenedor-2022">
                    <h3>Nyck de Vries</h3>
                    <img src="../img/pilotos/Nyck de Vries.jpg" alt="">
                    <p>Edad: x</p>
                    <p>Año de debut: x</p>
                    <p>Victorias: x</p>
                    <p>Podios: x</p>
                    <p>Vueltas rapidas: x</p>
                    <p>Titulos: x</p>
                </div>
            </article>



            <article>
                <div class="nombre__equipos">
                    <h2>EQUIPO</h2>
                    <p>Aston Martin Formula One Team</p>
                    <img src="../img/escuderias/aston-martin-f1-team-logo-1.jpg" alt="">
                </div>
            </article>
            <article class="pilotos__contenedor">
                <div class="pilotos__contenedor-2022">
                    <h3>Fernando Alonso</h3>
                    <img src="../img/pilotos/fernando-alonso-alpine-1.jpg" alt="">
                    <p>Edad: x</p>
                    <p>Año de debut: x</p>
                    <p>Victorias: x</p>
                    <p>Podios: x</p>
                    <p>Vueltas rapidas: x</p>
                    <p>Titulos: x</p>
                </div>
                <div class="pilotos__contenedor-2022">
                    <h3>Lance Stroll</h3>
                    <img src="../img/pilotos/lance-stroll-aston-martin-1.jpg" alt="">
                    <p>Edad: x</p>
                    <p>Año de debut: x</p>
                    <p>Victorias: x</p>
                    <p>Podios: x</p>
                    <p>Vueltas rapidas: x</p>
                    <p>Titulos: x</p>
                </div>
            </article>



            <article>
                <div class="nombre__equipos">
                    <h2>EQUIPO</h2>
                    <p>Williams Racing</p>
                    <img src="../img/escuderias/williams-racing-logo-1.jpg" alt="">
                </div>
            </article>
            <article class="pilotos__contenedor">
                <div class="pilotos__contenedor-2022">
                    <h3>Alexander Albon</h3>
                    <img src="../img/pilotos/Alexander Albon.jpg" alt="">
                    <p>Edad: x</p>
                    <p>Año de debut: x</p>
                    <p>Victorias: x</p>
                    <p>Podios: x</p>
                    <p>Vueltas rapidas: x</p>
                    <p>Titulos: x</p>
                </div>
                <div class="pilotos__contenedor-2022">
                    <h3>Logan Sargeant</h3>
                    <img src="../img/pilotos/logan-sargeant-carlin-1.jpg" alt="">
                    <p>Edad: x</p>
                    <p>Año de debut: x</p>
                    <p>Victorias: x</p>
                    <p>Podios: x</p>
                    <p>Vueltas rapidas: x</p>
                    <p>Titulos: x</p>
                </div>
            </article>



            <article>
                <div class="nombre__equipos">
                    <h2>EQUIPO</h2>
                    <p>Alfa Romeo S.p.A </p>
                    <img src="../img/escuderias/alfaromeo-f1-logo.jpg" alt="">
                </div>
            </article>
            <article class="pilotos__contenedor">
                <div class="pilotos__contenedor-2022">
                    <h3>Guanyu Zhou</h3>
                    <img src="../img/pilotos/guanyu-zhou-alfa-romeo-1.jpg" alt="">
                    <p>Edad: x</p>
                    <p>Año de debut: x</p>
                    <p>Victorias: x</p>
                    <p>Podios: x</p>
                    <p>Vueltas rapidas: x</p>
                    <p>Titulos: x</p>
                </div>
                <div class="pilotos__contenedor-2022">
                    <h3>Valtteri Bottas</h3>
                    <img src="../img/pilotos/valtteri-bottas-alfa-romeo-1.jpg" alt="">
                    <p>Edad: x</p>
                    <p>Año de debut: x</p>
                    <p>Victorias: x</p>
                    <p>Podios: x</p>
                    <p>Vueltas rapidas: x</p>
                    <p>Titulos: x</p>
                </div>
            </article>



            <article>
                <div class="nombre__equipos">
                    <h2>EQUIPO</h2>
                    <p>Haas F1 Team</p>
                    <img src="../img/escuderias/haas-f1-logo.png" alt="">
                </div>
            </article>
            <article class="pilotos__contenedor">
                <div class="pilotos__contenedor-2022">
                    <h3>Kevin Magnussen</h3>
                    <img src="../img/pilotos/perfil-kevin-magnussen-2022-soymotor.png" alt="">
                    <p>Edad: x</p>
                    <p>Año de debut: x</p>
                    <p>Victorias: x</p>
                    <p>Podios: x</p>
                    <p>Vueltas rapidas: x</p>
                    <p>Titulos: x</p>
                </div>
                <div class="pilotos__contenedor-2022">
                    <h3>Nico Hülkenberg</h3>
                    <img src="../img/pilotos/nico-hulkenberg-aston-martin-1.jpg" alt="">
                    <p>Edad: x</p>
                    <p>Año de debut: x</p>
                    <p>Victorias: x</p>
                    <p>Podios: x</p>
                    <p>Vueltas rapidas: x</p>
                    <p>Titulos: x</p>
                </div>
            </article>
        </section>
    </main>

    <!--segunda aproximacion al footer de la web, hay modificaciones que hacer! -->
    <footer>
        <section class="footer">

            <article class="footer__items">
                <div class="footer__items-h3">
                    <h3>REDES</h3>
                </div>
                <div>
                    <a href="https://www.instagram.com/f1/"><img src="../img/img logos footer/instagram.png"
                            alt="instagram"></a>
                </div>
                <div>
                    <a href="https://www.facebook.com/Formula1"><img src="../img/img logos footer/facebook.png"
                            alt="logo facebook"></a>
                </div>
                <div>
                    <a href="https://twitter.com/F1"><img src="../img/img logos footer/twitter.png"
                            alt="logo twitter"></a>
                </div>
                <div>
                    <a href="https://www.youtube.com/@Formula1"><img src="../img/img logos footer/youtube.png"
                            alt="logo youtube"></a>
                </div>
            </article>

            <article class="footer__items">
                <div class="footer__items-h3">
                    <h3>INICIO</h3>
                </div>
                <div>
                    <a href="./Index.html"><img src="../img/img logos footer/logo-F1.png" alt="logo-F1"></a>
                </div>
            </article>

            <article class="footer__items">
                <div class="footer__items-h3">
                    <h3>SPONSOR</h3>
                </div>
                <div>
                    <a href="https://www.petronas.com/"><img src="../img/img logos footer/petronas.png"
                            alt="logo petronas"></a>
                </div>
                <div>
                    <a href="https://www.dhl.com/ar-es/home.html?locale=true"><img src="../img/img logos footer/dhl.png"
                            alt="logo dhl"></a>
                </div>
                <div>
                    <a href="https://www.rolex.com/es"><img src="../img/img logos footer/rolex.png"
                            alt="logo rolex"></a>
                </div>
                <div>
                    <a href="https://www.pirelli.com/tyres/es-es/coche/home"><img
                            src="../img/img logos footer/pirelli.png" alt="logo pirelli"></a>
                </div>
                <div>
                    <a href="https://www.shell.com/"><img src="../img/img logos footer/shell.png" alt="logo shell"></a>
                </div>
                <div>
                    <a href="https://www.emirates.com/ar/spanish/"><img src="../img/img logos footer/emirates.png"
                            alt="logo emirates"></a>
                </div>
            </article>
        </section>
    </footer>
</body>

</html>